<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bar bar-header bar-royal">
      <h1 class="title">SnapAI</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="oya">
  <ion-grid style="height: 100%">
    <br>
    <br>
    <ion-row  justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <ion-col class="col col-33 col-offset-50" >
        <ion-button href="/register" (click) = "doSave()">Registrarse</ion-button>
        <hr>
        <hr>
        <ion-button href="/login" (click) = "doSave()">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>